<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Student</title>
</head>
<body>
<h1>Create Student</h1>
<p>
    <a href="/home">Student list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create}" th:object="${student}" method="post"
      enctype="multipart/form-data" novalidate="novalidate">
    <table>
        <tr>
            <td>First name:</td>
            <td><input type="text" th:field="*{firstName}"/>
            <label th:if="${#fields.hasErrors('firstName')}" th:error="*{firstName}"></label>
            </td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td><input type="text" th:field="*{lastName}"/>
            <label th:if="${#fields.hasErrors('lastName')}" th:error="*{lastName}"></label>
            </td>
        </tr>

        <tr>
            <td>Age:</td>
            <td><input type="number" th:field="*{age}"/>
                <label th:if="${#fields.hasErrors('age')}" th:error="*{age}"></label>
            </td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" th:field="*{email}"/>
                <label th:if="${#fields.hasErrors('email')}" th:error="*{email}"></label>
            </td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td><input type="text" th:field="*{phone}"/>
                <label th:if="${#fields.hasErrors('phone')}" th:error="*{phone}"></label>
            </td>
        </tr>



        <tr>
            <td>Category</td>
            <td>
                <select th:field="*{category}" >
                    <th:block th:each="c: ${categories}" >
                        <option th:text="${c.name}" th:value="${c.id}"></option>
                    </th:block>

                 </select>
            </td>

        </tr>
        <tr>
            <td>Image</td>
            <td>
                <input type="file" th:field="*{img}"/>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create Student" /></td>
        </tr>
    </table>
</form>
</body>
</html>